.App {
  justify-items: center;
  padding: 10%;
  text-align: end;
}
.App h1{
  text-align: center;
}
table{
  text-align: center;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;
}
.person{
  text-align: center;
  width: 40%;
}
.divperson {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.divperson img{
  border-radius: 100%;
  margin: 0 10px;
}
.input{
  padding: 0 10px;
  width: 15%;
}
.row{
  outline: 1px solid black;
}
button{
  background-color: black;
  border: none;
  padding: 5px 10px;
  color: white;
  margin-right: 20px;
}
.result{
  
  text-align: start;
}

/* .header{
  display: grid;
  grid-template-columns: 100px 150px 200px 250px 300px;
  text-align: center;
  padding: 0 10%;
  
}
.textheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.textheader p{
  width: 20%;
  margin: 0 15px;
}

.input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
}
form{
  width: 80%;
}
input{
  width: 20%;
  margin: 0 10px;
} */